# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/
